{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="blog-header position-relative text-center">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-12 col-lg-8">
                <h1 class="fs-3 text-white fw-bold blog-title">{{blog.title}}</h1>
                <div
                    class="d-flex flex-column flex-md-row align-items-center align-items-md-start justify-content-between mt-4 text-white">
                    <span class="pb-2 pb-md-0">ایجاد شده توسط <a class="text-white link-offset-2"
                            href="">{{blog.author.fullname}}</a></span>
                    <span class="pb-2 pb-md-0">در <a class="text-white link-offset-2"
                            href="{% url 'blogs:BlogList'%}">مقالات</a></span>
                    <span class="pb-2 pb-md-0">{{blog.date |date:"SHORT_DATE_FORMAT"}}</span>
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <div><i class="bi bi-share me-2"></i></div>
                        <div>
                            <a class="link-underline link-underline-opacity-0 text-white share-link" type="button"
                                data-bs-toggle="modal" data-bs-target="#share-box" href="">اشتراک گذاری</a>
                            <div class="modal fade" id="share-box" tabindex="-1">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content share-content">
                                        <div class="row header-share">
                                            <div
                                                class="col-auto d-flex flex-row justify-content-between align-items-center pe-0">
                                                <div class="section-title">اشتراک گذاری</div>
                                            </div>
                                            <div class="col w-100 d-flex flex-column ps-0">
                                                <div class="h-50 w-100 border-section"></div>
                                                <div class="h-50 w-100"></div>
                                            </div>
                                        </div>
                                        <div class="modal-body">
                                            <div class="d-flex flex-column justify-content-center align-items-center">
                                                <div><img src="{% static 'icons8-share-64.png' %}" alt=""
                                                        style="height: 50px; width: 50px;"></div>
                                                <div class="text-box-share">
                                                    <span class="text-share">این پست را با دیگران به اشتراک
                                                        بگذارید</span>
                                                </div>
                                            </div>
                                            <div class="row url-section border rounded-3">
                                                <div
                                                    class="col-12 d-flex flex-row flex-nowrap align-items-center justify-content-between url-box">
                                                    <span
                                                        class="url-blog">http://127.0.0.1:8000/blog/{{blog.slug}}</span>
                                                    <button class="btn text-white btn-copy" type="button">کپی</button>
                                                </div>
                                            </div>
                                            <div
                                                class="col-12 d-flex flex-row flex-nowrap align-items-center justify-content-between my-4 url-box">
                                                <div class="col-3">
                                                    <a href="">
                                                        <img src="{% static 'icons8-twitter.png' %}" alt=""
                                                            style="height: 50px; width: 50px;">
                                                    </a>
                                                </div>
                                                <div class="col-3">
                                                    <a href="">
                                                        <img src="{% static 'icons8-telegram-96.png' %}" alt=""
                                                            style="height: 50px; width: 50px;">
                                                    </a>
                                                </div>
                                                <div class="col-3">
                                                    <a href="">
                                                        <img src="{% static 'icons8-whatsapp.png' %}" alt=""
                                                            style="height: 50px; width: 50px;">
                                                    </a>
                                                </div>
                                                <div class="col-3">
                                                    <a href="">
                                                        <img src="{% static 'icons8-facebook-120.png' %}" alt=""
                                                            style="height: 50px; width: 50px;">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger"
                                                data-bs-dismiss="modal">بستن</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="blog-details">
    <div class="container mt-3 mt-md-5">
        <div class="row">
            <div class="col-12 col-lg-8 px-3 px-lg-0">
                <div class="show-post mt-5 d-flex flex-column align-items-center">
                    <div class="pb-5"><img class="img-thumbnail rounded-4" src="{{blog.image.url}}" alt=""></div>
                    <p class="text-blog">{{blog.body}}</p>
                </div>
                <div class="mt-5">
                    <div class="row">
                        <div class="col-auto comments-num">
                            <div class="row">
                                <span class="col-auto pe-0">نظر</span>
                                <span class="col w-100 pe-0 ps-1">({{num_comments}})</span>
                            </div>
                        </div>
                        <div class="col w-100 d-flex flex-column">
                            <div class="border-bottom h-50"></div>
                            <div class="h-50"></div>
                        </div>
                    </div>
                    <div class="mt-4">
                        <form action="" method="post">
                            {% csrf_token %}
                            {% for field in form %}
                            <div id="comment-box">
                                {{field.errors}}
                                {{field}}
                            </div>
                            {% endfor %}
                            <button type="submit" class="btn comment-button text-white mt-3">ارسال</button>
                        </form>
                    </div>
                    <div class="">
                        {% for comment in comments %}
                        <div id="user-comment" class="my-5 border rounded-4 shadow d-flex flex-column p-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex justify-content-between align-items-center px-3 py-2">
                                    <div class="me-3">
                                        <img class="rounded-circle" src="{{comment.name.profile.url}}" alt=""
                                            style="height: 40px; width: 40px;">
                                    </div>
                                    <div class="d-flex flex-column align-items-center text-start">
                                        <div class="h-50 w-100 text-start text-primary-emphasis">
                                            <span class="fw-bold"
                                                style="font-size: 20px;">{{comment.name.fullname}}</span>
                                        </div>
                                        <div class="h-50 w-100 text-start text-secondary" style="font-size: 11px;">
                                            گروه‌بندی کاربر</div>
                                    </div>
                                </div>
                                <div class="text-secondary px-3 py-2" style="font-size: 13px;">
                                    {{ comment.created|date:"SHORT_DATE_FORMAT" }} {{ comment.created|time:"H:i" }}
                                </div>
                            </div>
                            <div class="px-3 py-2 text-secondary" style="font-size: 14px;">{{comment.body}}</div>
                            <div class="d-flex justify-content-end align-items-center">
                                <button class="btn btn-outline-success" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#answer" aria-expanded="false"
                                    aria-controls="answer" style="font-size: 12px;">پاسخ</button>
                                <button class="btn btn-outline-secondary mx-3" data-bs-toggle="modal" data-bs-target="#report-box-comment"
                                    style="font-size: 12px;">گزارش</button>
                                {% if user.is_authenticated and comment.name.id == user.id %}
                                <form method="delete">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger" style="font-size: 12px;">حذف</button>
                                </form>
                                {% endif %}
                            </div>
                            <div class="collapse mt-3" id="answer">
                                <div class="card card-body">
                                    <form action="" method="post">
                                        {% csrf_token %}
                                        {% for field in answer_form %}
                                        <div id="comment-box">
                                            {{field.errors}}
                                            {{field}}
                                        </div>
                                        {% endfor %}
                                        <button type="submit" class="btn comment-button text-white mt-3">ارسال</button>
                                    </form>
                                </div>
                            </div>
                            <div class="modal fade" id="report-box-comment" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header border-0">
                                            <div class="row header-share w-100">
                                                <div
                                                    class="col-auto d-flex flex-row justify-content-between align-items-center">
                                                    <div class="section-title">گزارش</div>
                                                </div>
                                                <div class="col d-flex flex-column px-0">
                                                    <div class="h-50 w-100 border-section"></div>
                                                    <div class="h-50 w-100"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-content border-0 d-flex flex-column justify-content-center">
                                            <div class="mt-2">
                                                <div class="mx-3">
                                                    <span class="fs-7 fw-semibold">پیام به بازبین</span>
                                                    <textarea class="form-control comment-box mt-2"
                                                        id="exampleFormControlTextarea1"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer border-0">
                                            <button type="submit"
                                                class="btn comment-button text-white my-2 p-2 fs-6">گزارش</button>
                                            <button type="button" class="btn btn-danger"
                                                data-bs-dismiss="modal">بستن</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4"></div>
        </div>
    </div>
</section>
{% endblock %}