@font-face {
    font-family: "IRANsans";
    src: url("font/A-Iranian-Sans/Sans\ a4fran3.woff");
}
/* Option 2: Import via CSS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
body{
    margin: 0px;
}

#section_header{
    margin:0;
    padding:0;
    height:53px;
    width:100%;
    border-bottom:1px solid #ececec;
}
.container_header{
    display:flex;
    flex-direction:row-reverse;
    justify-content:space-between;
    align-items:center;
    height:53px;
    margin:0 138.8px;
    padding:0 15px;
}
#right_side{
    width:650.267px;
    display:flex;
    flex-direction:row-reverse;
    justify-content:space-between;
    align-items:center;
    height:52.2667px;
    margin:0;
    padding:0;
}
#left_side{
    display:flex;
    flex-direction:row-reverse;
    justify-content:space-between;
    align-items:center;
    height:52.2667px;
    margin:0;
    padding:0; 
    width:255.95px;
}
.sec_header{
    display:flex;
    flex-direction:row-reverse;
    justify-content:space-between;
    align-items:center; 
}
.header_unorder_list li{
    display:inline-block;
}
#section1{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    margin-left:30px;
}
#telephone_support{
    font-family: IRANsans;
    font-size: 0.875rem;
    display:flex;
    flex-direction:row;
    height:20px;
    justify-content:center;
}
.bite::before{
    font-size: large;
    vertical-align:middle;
    margin-left:10px;
}
#space_one{
    padding:0;
    margin:0 15px;
}
#email_support{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;
    display:flex;
    flex-direction:row;
    height:20px;
    justify-content:center;
}
.bien::before{
    font-size: large;
    margin-left:10px;
}
#section2{
    padding:0;
    margin:0;
    height:53px;
}
#select_search{
    margin:0;
    padding:0;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}
.language_selector{
    margin-left:15px;
}
#language_selector{
    height:36px;
    text-align:right;
    direction:rtl;
    border:none;
}
.search_box{
    padding:0px;
    margin:0px;
}
#general_search_form{
    text-align:right;
    direction:rtl;
    display:flex;
    width:209.467px;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    position:relative;
    border:solid 0.7333px #ececec;
    border-radius:10px;
    padding:8px 16px;
    margin-left:5px;
}
#general_search{
    border:none;
    padding:0px;
    height:28px;
    width:218.06px;
    font-family: IRANsans;
    font-size: 0.675rem;
}
#general_search_button{
    border:none;
    margin:0px;
    padding:0px;
    background-color:white;
    width:25px;
    text-align:right;
}
.bise::before{
    font-size: large;
    color:rgba(0,0,0,50%);
}
#section3{
    direction:rtl;
    height:53px;
}
.bica::before, .bibe::before{
    font-size:x-large;
    color:rgba(0,0,0,50%);
}
#notification, #cart{
    width:30px;
    text-align:right;
    padding:0;
}
#line{
    height:53px;
    margin:0 15px;
    border-left:1px solid #ececec;
}
#log_sing{
    margin:0;
    padding:0;
    display:flex;
    flex-direction:row;
    align-items:center;
}
#signin{
    padding:5px 10px;
    margin:0;
    color:black;
    font-family: IRANsans;
    font-size: 0.8rem;
}
#login{
    padding:5px 10px;
    margin-left:10px;
    color:black;
    font-family: IRANsans;
    font-size: 0.8rem;
}
.link_decoration:link{
    text-decoration:none;
}
#nav_bar{
    height: 50px;
    margin: 0px;
    padding: 10px 20px;
}
.container{
    height:50px;
    margin:0 118.8px;
    padding:0 15px;
}
#nav_content{
    height:50px;
    margin:0;
    padding:0;
    display:flex;
    flex-direction:row-reverse;
    justify-content:space-between;
    align-content:center;
}
#nav_unorder_list{
    padding-right:0px;
    margin:0px;
}
#nav_unorder_list li{
    display:inline-block;
    text-align:right;
    font-family:IRANsans;
    font-size:15px;
    padding-left:10px;
}
#dropdown_courses{
    padding-left:15px;
}
#nav_logo{
    margin:0;
    padding:4.5px 0;
}
#nav_list{
    width:790px;
    margin:0 30px;
    padding:0;
    text-align:right;
    direction:rtl;
}
#nav_request{
    width:175.44px;
    margin:0;
    padding:0;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    border:solid 0.733px white;
    border-radius:10px;
    background-color:#43d477;
}
#teach_request{
    text-align:center;
    color:white;
    font-family:IRANsans;
    font-size:13.5px;
}
.dropbtn_courses{
    width:172.95px;
    height:50px;
    border:solid 1px white;
    border-radius:10px;
    font-family: IRANsans;
    font-size:15px;
    color:rgba(08,08,64,80%);
    font-weight:800;
    padding:0px;
}
#nav_home, #nav_blogs{
    color:black;
}


