@font-face {
    font-family: "IRANsans";
    src: url("font/A-Iranian-Sans/Sans\ a4fran3.woff");
}

/* Option 2: Import via CSS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

body {
    font-family: IRANsans;
    margin: 0;
    padding: 0;
    height: 100%;
}

.bite::before,
.bien::before {
    font-size: large;
    margin-left: 3px;
}

.bica::before,
.bibe::before {
    font-size: large;
}

.font-14 {
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
}

.section-1 {
    font-family: IRANsans;
}

.form_language {
    /* border: none !important; */
    width: auto !important;
    margin-left: 15px;
    padding: 0px;
    line-height: 1.3;
    color: #343434;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: none !important;
}

.search-box {
    width: 230px !important;
}

@media screen and (max-width: 490px) {
    .search-box {
        width: 170px !important;
    }
}

.search-section {
    border: 1px solid #ececec !important;
    box-shadow: none !important;
    font-family: IRANsans;
    font-size: 0.75rem;
    font-weight: normal;
    line-height: 1.25;
    color: #343434;
}

.search-section[type=text]:focus .comment-box[type=text]:focus {
    border: 1px solid #1FB354 !important;
}

.bi-search::before {
    font-size: large;
    color: #343434;
}

.search-button:active,
.search-button:hover,
.comment-button:hover {
    background-color: #1FB354 !important;
}

.search-button:hover>.bi-search::before {
    color: white;
}

.search-button {
    border: 1px solid #ececec !important;
    background-color: #ececec;
}

.support-section {
    flex-wrap: nowrap;
}

#line {
    height: 53px;
    border-left: 1px solid #ececec;
}

#signin,
#login {
    color: black;
    font-family: IRANsans;
    font-size: 0.8rem;
}

@media screen and (max-width: 767px) {
    .section-2 {
        border-bottom: 1px solid #e2e3e5;
    }

    .font-14 {
        margin-left: 0px;
    }

    .form_language {
        margin-left: 0px;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    .header-section-1 {
        border-bottom: 1px solid #e2e3e5;
    }
}

.main-nav {
    padding: 10px 20px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;
}

.dropdown-toggle::after {
    content: none !important;
}


.font-course {
    font-size: 15px !important;
}

#navbarSupportedContent ul li ul li .bi::before {
    font-size: 25px;
    margin-left: 10px;
}

#navbarSupportedContent ul li ul li ul li .bi::before {
    font-size: 25px;
    margin-left: 10px;
}

.dropdown-item {
    font-size: 12.5px !important;
    color: #171347 !important;
    font-weight: 500 !important;
}

.first-main-item {
    font-size: 12.5px !important;
    color: #171347 !important;
    font-weight: 500 !important;
    text-decoration: none;
}

@media screen and (min-width: 992px) {
    .nav-section {
        margin: 0 30px;
    }

    .course-list {
        border: 1px solid white;
        border-radius: 10px;
        background-color: #f1f1f1;
        padding: 12px 25px 12px 15px;
    }

    .bi-grid::before {
        font-size: 20px;
        color: #1f3b64;
        vertical-align: middle;
    }

    #navbarSupportedContent ul li ul li ul {
        position: absolute;
        display: none;
    }

    #navbarSupportedContent ul li ul li:hover ul {
        display: block;
        box-shadow: none;
        animation: fade_in_show 0.5s;
    }

    @keyframes fade_in_show {
        0% {
            opacity: 0;
            transform: scale(0)
        }

        100% {
            opacity: 1;
            transform: scale(1)
        }
    }

    #navbarSupportedContent ul li ul li a:hover {
        background-color: #69da91 !important;
        color: white !important;
    }

    .dropdown-course-section {
        padding: 30px 25px !important;
    }

    #navbarSupportedContent ul li ul li:hover {
        background-color: #69da91 !important;
        color: white !important;
    }

    #navbarSupportedContent ul li ul li .bi-chevron-left::before {
        font-size: medium;
        margin-left: 10px;
    }

    #navbarSupportedContent ul li ul li .first-main-item:hover {
        background-color: #69da91 !important;
        color: white !important;
    }

    .sub-menu {
        right: 89%;
        left: auto;
        bottom: -10%;
    }

    .side-menu {
        background-color: white;
        border-radius: 15px;
        width: 250px;
        padding: 30px 25px 12px 25px;
    }
}

.offcanvas {
    height: 100% !important;
}

@media screen and (max-width: 992px) {
    .course-list {
        position: absolute;
        display: none;
    }

    #navbarSupportedContent ul li ul li a:hover {
        color: #69da91 !important;
    }
}

.bi-chevron-down::before {
    font-size: medium !important;
}

.footer {
    margin-top: 205px;
    background-color: #1f3b64;
}

.footer-section1 {
    background-image: url(./pattern.png);
    background-color: #43d477;
    padding: 30px !important;
    border-radius: 15px;
    height: auto;
}

.fs-7 {
    font-size: 15px !important;
}

.footer-row-1 {
    height: 200px !important;
}

.btn-email,
.comment-button,
.btn-copy {
    background-color: #43d477 !important;
    font-size: small;
    padding: 10px 15px;
}

.btn-email:hover,
.btn-copy:hover {
    background-color: #198754 !important;
}

.email-section {
    padding: 0 !important;
    height: 40px !important;
    font-size: small !important;
}

@media screen and (min-width: 768px) {
    .footer-section1 {
        height: 200px;
    }
}

.logo-site-footer {
    border: none !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

.icon-social-media .bi::before {
    font-size: 35px;
    color: white;
}

.blog-header {
    width: 100%;
    padding: 100px 0;
    background-color: #052c65;
}

.bi-share::before,
.bi-calendar::before {
    font-size: larger;
}

.blog-header span {
    font-size: 1.1rem;
}

.text-blog {
    color: #818894;
}

.comments-num {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
    color: #171347;
}

.comment-box {
    box-shadow: none !important;
    height: 200px;
}

@media screen and (max-width: 576px) {
    .blog-header span {
        font-size: 0.9rem;
    }

    .share-link {
        font-size: 0.9rem;
    }

    .bi-share {
        font-size: medium;
    }

    .text-blog {
        font-size: 15px;
    }

    .comments-num {
        font-size: 13px;
        font-weight: bold;
        line-height: 1.2;
        color: #171347;
    }

    .blog-title {
        font-size: 1.15rem !important;
    }
}

.site-top-banner {
    height: 530px;
}

.blogs-search {
    margin-top: 70px;
}

.form-search-blog {
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1);
}

.num-blogs {
    background-color: rgba(241, 241, 241, 0.5);
    padding: 10px;
}

.img-cover {
    overflow: hidden;
    object-fit: cover;
    object-position: 50% 50%;
    filter: brightness(50%);
}

.content-blogs {
    margin-top: 40px;
}

@media screen and (max-width: 768px) {
    .site-top-banner {
        height: 400px;
    }

    .blogs-search {
        margin-top: 50px;
    }

    .blogs-header {
        font-size: calc(1.175rem + 1.3vw);
    }

    .num-blogs {
        font-size: 0.9rem;
    }

    .content-blogs {
        margin-top: 10px;
    }
}

@media screen and (max-width: 576px) {
    .site-top-banner {
        height: 230px;
    }

    .blogs-search {
        margin-top: 30px;
    }

    .blogs-header {
        font-size: calc(1.1rem + 1.1vw);
    }

    .num-blogs {
        font-size: 0.7rem;
    }

}

.image-card {
    height: 250px;
}

.date-blog {
    margin-right: 90px;
    background-color: #43d477;
    padding: 10px 15px 7px 15px;
}

.list-blogs {
    margin-top: 10px;
    padding: 24px 15px;
}

.blog-title-card {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.2;
    color: #171347;
}

.snippet-card {
    margin-top: 20px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.29;
    color: #818894;
}

.card-content {
    height: 150px;
}

.footer-card {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.19;
    color: #818894;
    height: 75px;
    margin-top: 20px;
}

.bi-person::before,
.bi-chat-left::before {
    font-size: x-large;
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
    .card-content {
        height: 200px;
    }

    .blog-title-card {
        font-size: 13px;
    }

    .snippet-card {
        margin-top: 15px;
        font-size: 13px;
    }

    .footer-card {
        height: 50px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    .list-blogs {
        padding-right: 0;
        padding-left: 0;
    }

    .content-blogs {
        max-width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .card-content {
        height: 190px;
    }

    .blog-title-card {
        font-size: 12px;
    }

    .snippet-card {
        margin-top: 10px;
        font-size: 12px;
    }

    .footer-card {
        font-size: 10px;
        height: 40px;
    }
}

@media screen and (max-width: 767px) {
    .content-blogs {
        max-width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .card-content {
        height: 170px;
    }

    .footer-card {
        height: 50px;
    }

    .pagination-section {
        margin-top: 20px;
    }
}

.card-blogs {
    position: relative;
    top: 0;
    transition: top 1s;
    transition-timing-function: cubic-bezier(.5, .02, 1, .41);
}

.card-blogs:hover {
    margin-top: -20px;
}

.card-blogs:hover .date-blog {
    background-color: #052c65;
}

.pagination-section {
    direction: ltr;
    margin-top: 50px;
    padding-top: 30px;
}

.list-page {
    width: fit-content;
    padding: 20px 45px !important;
}

.list-page li {
    margin-right: 5px;
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.list-page li a {
    width: 48px;
    height: 48px;
    border: solid 1px #43d477;
    background-color: white;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.list-page li a:hover {
    background-color: #43d477;
    color: #f1f1f1 !important;
}

.share-content {
    padding: 20px;
}

.border-section {
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.section-title {
    font-size: 16px !important;
    font-weight: bold;
    line-height: 1.2;
    color: #171347;
}

@media screen and (max-width: 510px) {
    .section-title {
        font-size: 13px !important;
    }

}

.header-share {
    margin-bottom: 25px;
}

.text-share {
    color: #545454;
    font-size: 13px !important;
    font-weight: normal;
}

.text-box-share {
    margin-top: 20px !important;
}

.url-section {
    margin-top: 15px;
    padding: 15px;
}

.url-blog {
    color: #545454;
}

.course-content-section {
    position: relative;
    margin-bottom: 250px;
}
.tablist-content{
    background-color: #052c65;
    border: 1px solid #052c65;
    width: 90%;
    font-size: 15px;
}
.tablist-content .nav-link.active{
    border-bottom:5px solid #43d477 !important;
    background-color: #052c65 !important;
    color: #b2adad !important;
}
.nav-tab-link{
    font-size: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.font-content{
    font-size: 14px;
}
.video-btn:not(.collapsed){
    color: #13795b !important;
    background-color: #cff4fc !important;
    box-shadow: none !important;
}
.video-btn:focus{
    border: none !important;
    box-shadow: none !important;
}
.question-btn:not(.collapsed){
    color: #084298 !important;
    background-color: #cfe2ff !important;
    box-shadow: none !important;
}
.question-btn:focus{
    border: none !important;
    box-shadow: none !important;
}
.font-text{
    font-size: 12px;
}
.bg-icon{
    background-color: #43d477 !important;
}
.site-top-banner-course{
    height: 530px;
}
@media screen and (max-width: 992px){
    .site-top-banner-course{
        height: 300px;
    }
}
@media screen and (max-width: 390px) {
    .share{
        margin-top: 10px !important;
    }
}
@media screen and (max-width: 901px) and (min-width: 768px) {
    .fs-8{
        font-size: 13px;
    }
}
.type-course{
    background-color: #43d477;
    border-radius: 0px 15px 0px 15px;
}




