{% extends 'base.html' %}
{% load static %}
{% load jformat %}
{% load course_tags %}
{% block content %}
<section class="site-top-banner-course opacity-10 position-relative">
    <img class="position-absolute top-0 start-0 end-0 bottom-0 z-n1 h-100 w-100 img-cover" src="{{course.header.url}}"
        alt="">
    <div class="container h-100 pt-5">
        <div class="row h-100 align-items-start align-items-lg-end">
            <div class="col-12 col-lg-8 text-center text-lg-start text-white pb-5">
                <h1 class="fs-3 fw-bold mb-5">{{course.title}}</h1>
                <span class="mb-2">در <a class="text-white link-offset-2" href="#">{{course.subject}}</a></span>
                <div class="mb-2" style="height: 35px;"></div>
                <div>ایجاد شده توسط <a class="text-white link-offset-2" role="button">{{course.author}}</a></div>
            </div>
            <div class="col-12 col-lg-4 d-none d-lg-block">
                <img class="img-thumbnail" src="{{course.file.url}}">
            </div>
        </div>
    </div>
</section>
<section class="container course-content-section">
    <div class="row">
        <div class="col-12 col-lg-8 position-relative">
            <div class="col-12">
                <div id="list-section-course">
                    <ul class="nav nav-tabs d-flex align-items-center justify-content-between border-bottom-0  position-absolute top-0 start-50 translate-middle tablist-content rounded-4"
                        id="myTab" role="tablist">
                        <li class="ms-2" role="presentation">
                            <button class="nav-link nav-tab-link text-white border-0 active" id="home-tab"
                                data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab"
                                aria-controls="home-tab-pane" aria-selected="true">اطلاعات</button>
                        </li>
                        <li class="" role="presentation">
                            <button class="nav-link nav-tab-link text-white border-0" id="profile-tab"
                                data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab"
                                aria-controls="profile-tab-pane" aria-selected="false">محتوا</button>
                        </li>
                        <li class="me-2" role="presentation">
                            <button class="nav-link nav-tab-link text-white border-0" id="contact-tab"
                                data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab"
                                aria-controls="contact-tab-pane" aria-selected="false">بازخورد</button>
                        </li>
                    </ul>
                </div>
                <div class="tab-content mt-5 mx-3" id="myTabContent">
                    <div class="tab-pane fade show active text-secondary" id="home-tab-pane" role="tabpanel"
                        aria-labelledby="home-tab" tabindex="0">
                        {% if course.content %}
                        <div id="what-user-learn" class="my-3 mx-2 mb-3 bg-info-subtle p-3 border rounded-3">
                            <span class="section-title">چه چیزی یاد خواهید گرفت؟</span>
                            <div class="mt-2 font-content">{{course.content|markdown}}</div>
                        </div>
                        {% endif %}
                        <div class="row mt-4">
                            <div class="col-auto d-flex flex-row justify-content-center align-items-center pe-1">
                                <div class="section-title">درباره این دوره</div>
                            </div>
                            <div class="col w-100 d-flex flex-column ps-0">
                                <div class="h-50 w-100 border-section"></div>
                                <div class="h-50 w-100"></div>
                            </div>
                        </div>
                        <div class="about-course mt-3 mx-2">
                            {{course.about|markdown}}
                        </div>
                        {% if course.recommender %}
                        <div class="mt-4 mx-3 border rounded-3 shadow p-3">
                            <span class="section-title">پیشنهاد شده توسط مجموعه‌های برتر</span>
                            <p class="my-2 font-content">مجموعه‌های برتر این دوره را پیشنهاد می‌کنند.</p>
                            <div>{{course.recommender}}</div>
                        </div>
                        {% endif %}
                        {% if course.prerequisite %}
                        <div class="mt-4 mx-3 font-content">
                            <span class="section-title">پیش‌نیازها</span>
                            <div class="mt-3">{{course.prerequisite |markdown}}</div>
                        </div>
                        {% endif %}
                        {% for question in questions %}
                        {% if question.title.id == course.id %}
                        <div class="accordion accordion-flush mt-3" id="accordionFlushExample">
                            <div class="accordion-item shadow mb-4">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed fs-7 question-btn" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#question" aria-expanded="false"
                                        aria-controls="flush-collapseOne">
                                        {{question.question}}
                                    </button>
                                </h2>
                                <div id="question" class="accordion-collapse collapse font-content text-secondary"
                                    data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">{{question.answer}}</div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <div class="mt-5">
                            <div class="row">
                                <div class="col-auto comments-num">
                                    <div class="row">
                                        <span class="col-auto pe-0">نظر</span>
                                        <span class="col w-100 p-0">(۲)</span>
                                    </div>
                                </div>
                                <div class="col w-100 d-flex flex-column">
                                    <div class="border-bottom h-50"></div>
                                    <div class="h-50"></div>
                                </div>
                            </div>
                            <div class="mt-4">
                                <textarea class="form-control comment-box" id="exampleFormControlTextarea1"></textarea>
                                <button type="submit" class="btn comment-button text-white mt-3">ارسال</button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade text-black" id="profile-tab-pane" role="tabpanel"
                        aria-labelledby="profile-tab" tabindex="0">
                        <div>
                            {% for video in videos %}
                            {% if video.course.id == course.id %}
                            <div class="accordion accordion-flush" id="accordionFlushExample">
                                <div class="accordion-item shadow mb-4 bg-body-tertiary rounded">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed fs-7 video-btn" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#video" aria-expanded="false"
                                            aria-controls="flush-collapseOne">
                                            <div class="p-2 rounded-circle bg-icon me-2"><i
                                                    class="bi bi-list text-white fs-5"></i></div>
                                            <div>اسم فصل‌ها</div>
                                        </button>
                                    </h2>
                                    <div id="video" class="accordion-collapse collapse"
                                        data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body d-flex justify-content-between align-items-center">
                                            <div class="d-flex flex-column justify-content-start">
                                                <div class="d-flex justify-content-start align-items-center">
                                                    <div class="me-2"><i class="bi bi-film fs-5"></i></div>
                                                    <div class="font-content">{{video.title}}</div>
                                                </div>
                                                <div class="font-text text-secondary d-none d-lg-block">
                                                    {{video.summary}}</div>
                                            </div>
                                            <a class="btn btn-secondary font-content" href="{{video.video}}">تماشا</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="tab-pane fade text-black" id="contact-tab-pane" role="tabpanel"
                        aria-labelledby="contact-tab" tabindex="0"></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4" id="list-section">
            <div class="border border-3 border-top-0 rounded-bottom-4 d-flex flex-column shadow mt-5 mt-lg-0">
                <div class="d-block d-lg-none rounded-4">
                    <img class="img-thumbnail" src="{{course.file.url}}">
                </div>
                <div id="price" class="my-3 text-center fs-4 pb-2 text-success fw-semibold">
                    {% if course.price == 0 %}
                    <span>رایگان</span>
                    {% else %}
                    <span>{{course.price}} تومان</span>
                    {% endif %}
                </div>
                <div id="course-btn" class="d-flex flex-column">
                    {% if course.price == 0 %}
                    <div class="text-center mx-3 mb-2 p-2 rounded-3"><a class="w-100 btn btn-outline-success" href=""
                            role="button">شرکت در این دوره</a></div>
                    {% endif %}
                    <div class="text-center mx-3 mb-2 p-2 rounded-3"><a class="w-100 btn btn-outline-danger" href=""
                            role="button">افزودن به سبد خرید</a></div>
                    <div class="text-center mx-3 mb-2 p-2 rounded-3"><a class="w-100 btn btn-outline-secondary" href=""
                            role="button">همین الان شرکت کن</a></div>
                </div>
                <div id="special-items" class="mb-2 mx-3 border-top border-bottom">
                    <div class="fs-7 text-black mt-2 text-center">آیتم‌های ویژه دوره</div>
                    <ul
                        class="list-group list-group-horizontal flex-wrap justify-content-center justify-content-xxl-between font-content px-4">
                        <li class="list-group-item border border-0 text-secondary me-3">پشتیبانی دارد</li>
                        <li class="list-group-item border border-0 text-secondary me-3">دسترسی نامحدود</li>
                        <li class="list-group-item border border-0 text-secondary me-3">دارای مدرک</li>
                    </ul>
                </div>
                <div class="my-2 mx-3">
                    <div class="d-flex justify-content-center align-items-center flex-wrap mb-3">
                        <div class="d-flex justify-content-start border border-2 rounded-3 p-2 me-2">
                            <div class="me-2"><i class="bi bi-file-text fs-5 text-secondary"></i></div>
                            <div>
                                <a class="link-secondary link-underline link-underline-opacity-0 share-link"
                                    type="button" data-bs-toggle="modal" data-bs-target="#report-box" href="">گزارش
                                    دوره</a>
                            </div>
                            <div class="modal fade" id="report-box" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header border-0">
                                            <div class="row header-share w-100">
                                                <div
                                                    class="col-auto d-flex flex-row justify-content-between align-items-center">
                                                    <div class="section-title">گزارش</div>
                                                </div>
                                                <div class="col d-flex flex-column px-0">
                                                    <div class="h-50 w-100 border-section"></div>
                                                    <div class="h-50 w-100"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-content border-0 d-flex flex-column justify-content-center">
                                            <div class="mx-3">
                                                <span class="fs-7 fw-semibold">دلیل گزارش:</span>
                                                <select class="form-select font-content shadow-none reason-report mt-2">
                                                    <option class="font-content" value="1">محتوای نامناسب</option>
                                                    <option class="font-content" value="2">مشکل در محتوای ارائه شده
                                                    </option>
                                                    <option class="font-content" value="3">قانون کپی رایت رعایت نشده است
                                                    </option>
                                                    <option class="font-content" value="4">پسندیده نیست این نوع محتوا
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="mt-2">
                                                <div class="mt-4 mx-3">
                                                    <span class="fs-7 fw-semibold">متن گزارش</span>
                                                    <textarea class="form-control comment-box mt-2"
                                                        id="exampleFormControlTextarea1"></textarea>
                                                    <span class="font-text text-secondary">لطفا در مورد گزارش کوتاه و
                                                        واضح توضیح دهید.</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer border-0">
                                            <button type="submit"
                                                class="btn comment-button text-white my-2 p-2 fs-6">گزارش</button>
                                            <button type="button" class="btn btn-danger"
                                                data-bs-dismiss="modal">بستن</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="me-2">
                            <a role="button" class="border border-2 rounded-3 px-3 pt-2 pb-1 text-secondary"
                                data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip"
                                data-bs-title="افزودن به علاقه‌مندی">
                                <i class="bi bi-heart fs-5"></i>
                            </a>
                        </div>
                        <div
                            class="d-flex align-items-center justify-content-start border border-2 rounded-3 p-2 mt-lg-2 mt-xxl-0 share">
                            <div><i class="bi bi-share me-2 text-secondary"></i></div>
                            <div>
                                <a class="link-secondary link-underline link-underline-opacity-0 share-link"
                                    type="button" data-bs-toggle="modal" data-bs-target="#share-box" href="">اشتراک
                                    گذاری</a>
                            </div>
                            </a>
                            <div class="modal fade" id="share-box" tabindex="-1">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content share-content">
                                        <div class="row header-share">
                                            <div
                                                class="col-auto d-flex flex-row justify-content-between align-items-center pe-0">
                                                <div class="section-title">اشتراک گذاری</div>
                                            </div>
                                            <div class="col w-100 d-flex flex-column ps-0">
                                                <div class="h-50 w-100 border-section"></div>
                                                <div class="h-50 w-100"></div>
                                            </div>
                                        </div>
                                        <div class="modal-body">
                                            <div class="d-flex flex-column justify-content-center align-items-center">
                                                <div><img src="{% static 'icons8-share-64.png' %}" alt=""
                                                        style="height: 50px; width: 50px;"></div>
                                                <div class="text-box-share">
                                                    <span class="text-share">این پست را با دیگران به اشتراک
                                                        بگذارید</span>
                                                </div>
                                            </div>
                                            <div class="row url-section border rounded-3">
                                                <div
                                                    class="col-12 d-flex flex-row flex-nowrap align-items-center justify-content-between url-box">
                                                    <span
                                                        class="url-blog">http://127.0.0.1:8000/course/{{course.slug}}</span>
                                                    <button class="btn text-white btn-copy" type="button">کپی</button>
                                                </div>
                                            </div>
                                            <div
                                                class="col-12 d-flex flex-row flex-nowrap align-items-center justify-content-between my-4 url-box text-center">
                                                <div class="col-3">
                                                    <a href="">
                                                        <img src="{% static 'icons8-twitter.png' %}" alt=""
                                                            style="height: 50px; width: 50px;">
                                                    </a>
                                                </div>
                                                <div class="col-3">
                                                    <a href="">
                                                        <img src="{% static 'icons8-telegram-96.png' %}" alt=""
                                                            style="height: 50px; width: 50px;">
                                                    </a>
                                                </div>
                                                <div class="col-3">
                                                    <a href="">
                                                        <img src="{% static 'icons8-whatsapp.png' %}" alt=""
                                                            style="height: 50px; width: 50px;">
                                                    </a>
                                                </div>
                                                <div class="col-3">
                                                    <a href="">
                                                        <img src="{% static 'icons8-facebook-120.png' %}" alt=""
                                                            style="height: 50px; width: 50px;">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger"
                                                data-bs-dismiss="modal">بستن</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-outline-success w-100 mb-3" href="">
                        <div class="d-flex flex-row align-items-center justify-content-center">
                            <div class="me-2"><i class="bi bi-gift fs-5"></i></div>
                            <div class="font-content">این دوره را به دوستان خود هدیه دهید</div>
                        </div>
                    </a>
                    <div class="d-flex justify-content-center align-items-center p-2 border border-success rounded-2 mb-2 text-success">
                        <div class="mx-2"><i class="bi bi-wallet fs-5"></i></div>
                        <div class="d-flex flex-column">
                            <span class="fs-7 mb-1">بازگشت نقدی</span>
                            <span class="font-text">با خرید این محصول، ۲۸۹۰۰۰ تومان به عنوان بازگشت نقدی دریافت خواهیدکرد.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="box-information" class="my-3 border p-3 border-1 rounded-3 shadow">
                <div>
                    <h6 class="text-center fw-semibold">اطلاعات دوره</h6>
                    <hr>
                </div>
                <div class="row justify-content-between w-100">
                    <div class="col-8 d-flex flex-column justify-content-start font-content text-secondary">
                        <span class="my-2">ظرفیت</span>
                        <span class="my-2">مدت زمان</span>
                        <span class="my-2">تعداد دانشجو</span>
                        <span class="my-2">تعداد فایل‌ها</span>
                        <span class="my-2">تاریخ ایجاد</span>
                        <span class="my-2">مدت زمان دسترسی</span>
                    </div>
                    <div class="col-4 d-flex flex-column text-end font-content text-secondary">
                        <span class="my-2">نامحدود</span>
                        <span class="my-2">۷ ساعت</span>
                        <span class="my-2">۲۰ نفر</span>
                        <span class="my-2">
                            {% if num_video == 0 %}
                            <span>بدون فایل</span>
                            {% else %}
                            {{num_video}}
                            {% endif %}
                        </span>
                        <span class="my-2">{{course.date |jformat:'%Y/%m/%d'}}</span>
                        <span class="my-2">نامحدود</span>
                    </div>
                </div>
            </div>
            <div id="profile-user"></div>
            <div id="course_tags-section" class="my-3 border rounded-3 p-3 shadow">
                <div class="">
                    <h6 class="fw-semibold mb-3">برچسب‌ها :</h6>
                </div>
                <div>
                    {% for tag in course.tag.all %}
                    <span class="font-text text-secondary bg-secondary-subtle fw-light rounded-2 p-2 me-2">{{tag}}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="d-flex flex-column">
                <a href=""><img class="h-100 w-100 pt-3" src="{% static 'تایید اعتبار.png' %}" alt=""></a>
                <a href=""><img class="h-100 w-100" src="{% static 'جلسه خصوصی.png' %}" alt=""></a>
            </div>
        </div>
    </div>
</section>


{% endblock %}