{% load static %}
<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.rtl.min.css"
        integrity="sha384-nU14brUcp6StFntEOOEBvcJm4huWjB0OcIeQ3fltAfSmuZFrkAif0T+UtNGlKKQv" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>خانه</title>
</head>

<body>
    <header>
        <div class="top-navbar d-flex border-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-9 header-section-1 pt-3 pt-lg-0">
                        <div class="row align-items-center pb-md-2 pb-lg-0">
                            <div class="col-md-5 pe-md-0 mt-2 mt-md-0">
                                <div
                                    class="row text-center text-center text-md-start justify-content-md-start align-items-center font-14">
                                    <div class="col-6 section-1">
                                        <i class="bi bi-telephone bite"></i>
                                        ۰۷۱۳۷۲۴۲۲۱۷
                                    </div>
                                    <div class="col-6 p-md-0">
                                        <i class="bi bi-envelope bien"></i>
                                        info@plasmain.ir
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 py-3 py-md-0 section-2">
                                <div class="row align-items-center justify-content-center justify-content-lg-between">
                                    <div class="col-6 col-md-4">
                                        <form class="" action="">
                                            <select class="form-select form_language" name="language">
                                                <option value="">Change Language</option>
                                                <option value="Eng"><a href="">English</a></option>
                                                <option value="IR" selected><a href="">Persian</a></option>
                                            </select>
                                        </form>
                                    </div>
                                    <div class="col-6 col-md-8 align-items-center">
                                        <div class="input-group search-box">
                                            <input type="text" class="form-control search-section"
                                                placeholder="جست‌وجو..." aria-label="Recipient's username"
                                                aria-describedby="button-addon2">
                                            <button class="btn btn-outline-success search-button" type="button"
                                                id="button-addon2"><i class="bi bi-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row align-items-center justify-content-between justify-content-lg-end">
                            <div class="col-3 col-md-3 col-lg-4">
                                <div class="row align-items-center">
                                    <div class="col-3"><i class="bi bi-cart bica"></i></div>
                                    <div class="col-3" id="line"></div>
                                    <div class="col-3"><i class="bi bi-bell bibe"></i></div>
                                </div>
                            </div>
                            <div class="col-5 col-md-3 col-lg-8">
                                <div class="row justify-content-end">
                                    <div class="col-6 text-end"><a href="#" id="login"
                                            class="link-body-emphasis text-decoration-none">ورود</a></div>
                                    <div class="col-6 text-end"><a href="#" id="signin"
                                            class="link-body-emphasis text-decoration-none">ثبت نام</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <nav class="navbar navbar-expand-lg main-nav p-0 shadow">
        <div class="container">
            <a class="navbar-brand py-1 m-0" href="#"><img src="{% static 'logo top final test.png' %}" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-bottom py-lg-2 nav-section" id="navbarSupportedContent">
                <div class="offcanvas-header">
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-start align-items-lg-center p-4 p-lg-0">
                        <li class="nav-item dropdown me-lg-4 course-list">
                            <a class="nav-link p-0 dropdown-toggle fw-semibold text-primary-emphasis font-course"
                                href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-grid me-2 d-none d-lg-inline"></i>
                                دوره‌های آموزشی
                            </a>
                            <ul class="dropdown-menu p-0 dropdown-course-section shadow rounded-4">
                                <li class="mb-3 dropdown-item pe-lg-0">
                                    <a class="first-main-item pe-0" href="#">
                                        <div class="d-lg-flex justify-content-between align-items-center">
                                            <div class="d-flex justify-content-start align-items-center">
                                                <div><i class="bi bi-suit-heart"></i></div>
                                                <div class="courses-item">پزشکی</div>
                                            </div>
                                            <div class="text-end"><i class="bi bi-chevron-left d-none d-lg-inline"></i>
                                            </div>
                                        </div>
                                        <ul class="list-group sub-menu p-4">
                                            <div class="side-menu shadow">
                                                <li class="d-flex justify-content-start align-items-center mb-3">
                                                    <a class="dropdown-item" href="#">
                                                        <div class="d-flex justify-content-start align-items-center">
                                                            <div id="bag_svg"><i class="bi bi-bag-check"></i></div>
                                                            <div class="courses-side-item">علوم پایه</div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="d-flex justify-content-start align-items-center mb-3">
                                                    <a class="dropdown-item" href="#">
                                                        <div class="d-flex justify-content-start align-items-center">
                                                            <div id="feather_img"><i class="bi bi-pencil"></i></div>
                                                            <div class="courses-side-item">فیزیوپاتولوژی</div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="d-flex justify-content-start align-items-center mb-3">
                                                    <a class="dropdown-item" href="#">
                                                        <div class="d-flex justify-content-start align-items-center">
                                                            <div id="heart_img"><i class="bi bi-suit-heart"></i></div>
                                                            <div class="courses-side-item">بالین و کلینیک</div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="d-flex justify-content-start align-items-center mb-3">
                                                    <a class="dropdown-item" href="#">
                                                        <div class="d-flex justify-content-start align-items-center">
                                                            <div id="clock_svg"><i class="bi bi-clock"></i></div>
                                                            <div class="courses-side-item">اسموزیس</div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </div>
                                        </ul>
                                    </a>
                                </li>
                                <li class="mb-3">
                                    <a class="dropdown-item" href="#">
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div id="bright_svg"><i class="bi bi-brightness-high"></i></div>
                                            <div class="courses-item">پرستاری</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="mb-3">
                                    <a class="dropdown-item" href="#">
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div id="clock_svg"><i class="bi bi-clock"></i></div>
                                            <div class="courses-item">دانشگاه‌ پلاسمایی</div>
                                        </div>
                                    </a>
                                </li>
                                <li><a class="dropdown-item" href="#">
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div id="feather_img"><i class="bi bi-pencil"></i></div>
                                            <div class="courses-item">به زودی</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown d-lg-none w-100">
                            <p class="d-inline-flex gap-1">
                                <a class="fw-semibold text-primary-emphasis link-underline link-underline-opacity-0 font-course"
                                    data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true"
                                    aria-controls="collapseExample">
                                    دوره‌های آموزشی
                                </a>
                            </p>
                            <div class="collapse ms-4" id="collapseExample">
                                <ul class="list-unstyled py-3">
                                    <li class="list-group-item mb-3">
                                        <a class="first-main-item pe-0" data-bs-toggle="collapse"
                                            href="#collapseExample2" role="button" aria-expanded="false"
                                            aria-controls="collapseExample">
                                            <div class="d-flex flex-row align-items-center justify-content-between">
                                                <div class="d-flex flex-row align-items-center justify-content-start">
                                                    <div><i class="bi bi-suit-heart"></i></div>
                                                    <div class="courses-item">پزشکی</div>
                                                </div>
                                                <div><i class="bi bi-chevron-down"></i></div>
                                            </div>
                                        </a>
                                        <div class="collapse" id="collapseExample2">
                                            <ul class="list-unstyled sub-menu py-4 ms-5">
                                                <div class="side-menu">
                                                    <li class="d-flex justify-content-start align-items-center mb-3">
                                                        <a class="dropdown-item" href="#">
                                                            <div
                                                                class="d-flex justify-content-start align-items-center">
                                                                <div id="bag_svg"><i class="bi bi-bag-check"></i></div>
                                                                <div class="courses-side-item">علوم پایه</div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li class="d-flex justify-content-start align-items-center mb-3">
                                                        <a class="dropdown-item" href="#">
                                                            <div
                                                                class="d-flex justify-content-start align-items-center">
                                                                <div id="feather_img"><i class="bi bi-pencil"></i></div>
                                                                <div class="courses-side-item">فیزیوپاتولوژی</div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li class="d-flex justify-content-start align-items-center mb-3">
                                                        <a class="dropdown-item" href="#">
                                                            <div
                                                                class="d-flex justify-content-start align-items-center">
                                                                <div id="heart_img"><i class="bi bi-suit-heart"></i>
                                                                </div>
                                                                <div class="courses-side-item">بالین و کلینیک</div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li class="d-flex justify-content-start align-items-center">
                                                        <a class="dropdown-item" href="#">
                                                            <div
                                                                class="d-flex justify-content-start align-items-center">
                                                                <div id="clock_svg"><i class="bi bi-clock"></i></div>
                                                                <div class="courses-side-item">اسموزیس</div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                </div>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="mb-3">
                                        <a class="dropdown-item" href="#">
                                            <div class="d-flex justify-content-start align-items-center">
                                                <div id="bright_svg"><i class="bi bi-brightness-high"></i></div>
                                                <div class="courses-item">پرستاری</div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="mb-3">
                                        <a class="dropdown-item" href="#">
                                            <div class="d-flex justify-content-start align-items-center">
                                                <div id="clock_svg"><i class="bi bi-clock"></i></div>
                                                <div class="courses-item">دانشگاه‌ پلاسمایی</div>
                                            </div>
                                        </a>
                                    </li>
                                    <li><a class="dropdown-item" href="#">
                                            <div class="d-flex justify-content-start align-items-center">
                                                <div id="feather_img"><i class="bi bi-pencil"></i></div>
                                                <div class="courses-item">به زودی</div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item fs-6">
                            <a class="nav-link" aria-current="page" href="#">خانه</a>
                        </li>
                        <li class="nav-item fs-6">
                            <a class="nav-link" href="{% url 'blogs:BlogList'%}">وبلاگ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    {% block content %}

    {% endblock %}

    <footer class="footer">
        <div class="container">
            <div class="row position-relative footer-row-1">
                <div class="col-12 position-absolute top-0 start-50 translate-middle">
                    <div class="footer-section1 d-block d-md-flex align-items-center">
                        <div class="col-md-6 col-xl-7">
                            <strong class="text-white d-block fs-4 fw-bolder">همین امروز پلاسمایی شو</strong>
                            <span class="text-white d-block mt-2 fs-7">
                                #ما بهترین پیشنهادات و تخفیف‌های ماهانه را به ایمیل شما ارسال خواهیم کرد.
                            </span>
                        </div>
                        <div class="col-md-6 col-xl-5 mt-3 mt-md-0">
                            <form action="" class="form-control rounded-5 p-3">
                                <div class="input-group d-flex align-items-center">
                                    <input type="text"
                                        class="form-control border border-0 shadow-none email-section opacity-50 me-2"
                                        placeholder="ایمیل خود را در اینجا وارد کنید" aria-label="Recipient's username"
                                        aria-describedby="button-addon2">
                                    <button class="btn rounded-5 text-center mb-md-0 btn-email text-white" type="button"
                                        id="button-addon2">پیوستن</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-6 col-md-3 mb-4">
                    <span class="d-block text-white fw-bold">درباره خانواده پلاسمایی</span>
                    <div class="mt-3">
                        <div>
                            <font class="text-white">هدف خانواده پلاسما، ایجاد یک مرجع تخصصی و کاربردی برای همه
                                دانشجویان علوم پزشکی است،&nbsp;</font><span class="text-white">یک جای خوب برای یادگیری
                                متفاوت و آسان!</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <span class="d-block text-white fw-bold">دسترسی سریع</span>
                    <div class="mt-3">
                        <p class="mb-1"><a class="text-white link-underline link-underline-opacity-0" href="">-
                                ثبت‌نام</a></p>
                        <p class="mb-1"><a class="text-white link-underline link-underline-opacity-0" href="">-
                                وبلاگ</a></p>
                        <p class="mb-1"><a class="text-white link-underline link-underline-opacity-0" href="">-
                                تاییدگواهی</a></p>
                    </div>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <span class="d-block text-white fw-bold">کاربران</span>
                    <div class="mt-3">
                        <p class="mb-1"><a class="text-white link-underline link-underline-opacity-0" href="">- ورود</a>
                        </p>
                        <p class="mb-1"><a class="text-white link-underline link-underline-opacity-0" href="">- ایجاد
                                دوره‌ی آموزشی</a></p>
                        <p class="mb-1"><a class="text-white link-underline link-underline-opacity-0" href="">- حریم
                                خصوصی کاربران</a></p>
                    </div>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <span class="d-block text-white fw-bold">امروز پلاسمایی شو</span>
                    <div class="d-flex flex-row mt-3">
                        <div class="col-4"><a href=""><img src="{% static 'enamad.png' %}" alt=""
                                    style="width: 53px; height: 73px;"></a></div>
                        <div class="col-4"><img src="{% static 'logo9-nezamsenfi.png' %}" alt=""
                                style="width: 53px; height: 45px;"></div>
                        <div class="col-4"><img src="{% static 'logo15-anjoman-senfi.png' %}" alt=""
                                style="width: 53px; height: 51px;"></div>
                    </div>
                </div>
            </div>
            <div class="mt-5 border-top border-light-subtle">
                <div class="row justify-content-between">
                    <div class="col-md-3 my-2">
                        <a href=""><img class="img-thumbnail logo-site-footer" src="{% static 'white plasma5.png' %}"
                                alt=""></a>
                    </div>
                    <div
                        class="col-md-4 d-flex align-items-center justify-content-around pe-0 pe-md-5 mb-3 mb-md-0 icon-social-media">
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-telegram"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script>
        const offcanvasElementList = document.querySelectorAll('.offcanvas')
        const offcanvasList = [...offcanvasElementList].map(offcanvasEl => new bootstrap.Offcanvas(offcanvasEl))
    </script>
</body>

</html>