{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="blog-header position-relative text-center">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-12 col-lg-8">
                <h1 class="fs-3 text-white fw-bold blog-title">حریم خصوصی کاربران</h1>
            </div>
        </div>
</section>
<section class="container mt-3 mt-md-5">
    <h2 class="fs-5 fw-bolder text-primary-emphasis"><b>حریم خصوصی کاربران پلاسما:</b></h2>
    <div class="lh-base fw-medium my-4 fs-6">
        <p class="mb-4">در این بخش به کاربران توضیح خواهیم داد که از ایشان چه اطلاعاتی جمع‌آوری می‌شود و پلاسما با این
            اطلاعات چگونه برخورد خواهد کرد. شایان ذکر است که پلاسما همواره اصول محرمانگی را در مورد اطلاعات شخصی کاربر
            را رعایت کرده و از این اطلاعات به نحو احسن محافظت می‌نماید. پلاسما اطلاعات شخصی کاربران را در اختیار اشخاص
            ثالث قرار نخواهد داد. البته به‌استثنای مواردی که به‌موجب قانون موظف به انجام این کار باشد. چنانچه این
            اطلاعات به‌صورت غیرعمد یا بدون اطلاع و رضایت ما در دسترس شخص ثالثی قرار گیرد، پلاسما مسئولیتی نخواهد داشت.
        </p>
        <p class="mb-4">اطلاعاتی که شما در اختیار پلاسما قرار می‌دهید بدین‌گونه است که در فرآیند ثبت‌نام، اطلاعات مربوط
            به کاربر شامل آدرس ایمیل و نام دریافت می‌گردد و در پایان ایمیلی جهت احراز هویت کاربر به آدرس ایمیل اعلام شده
            از طرف وی فرستاده می‌شود. در صورت ثبت‌نام، با استفاده از نام کاربری در پلاسما اطلاعاتی از قبیل "فیلم‌های
            خریداری شده"، "ویرایش مشخصات"، "فیلم‌های دیده شده" و "سوابق پرداخت" نمایش داده می‌شوند. در قسمت ویرایش
            مشخصات، کاربر قادر است تا در صورت تمایل، اطلاعاتی نظیر "نام (به فارسی) "، "شماره تلفن همراه"، "نام کاربری" و
            "ایمیل" را به‌روزرسانی کند.</p>
        <p class="mb-4">پلاسما اطلاعاتی که از حساب کاربران به طور خودکار بدست می‌آورد جهت تحلیل، بررسی و شخصی‌سازی خدمات
            خود و ارائه پیشنهادات ویژهٔ نزدیک‌تر به سلیقه کاربران استفاده خواهد کرد. این اطلاعات به پلاسما کمک می‌کند تا
            سرویس خود را بهبود بخشیده و محتوای مرتبط‌تری با علایق هر کاربر به ایشان ارائه کند.
            پلاسما این اختیار را دارد، هنگام پخش فیلم به فراخور زمان و محتوا، برای کاربر تبلیغ نمایش دهد.</p>
        <p>پلاسما جهت ارائه بهتر سرویس خود و اطلاع‌رسانی در خصوص طرح‌های ویژه و پیشنهاد تماشای فیلم‌های جدید و ... ممکن
            است از طریق ایمیل یا شماره تلفن همراه ثبت شده، اقدام به ارسال اطلاعاتی برای کاربران نماید. شما همواره
            می‌توانید با کلیک کردن بر روی دکمه لغو اشتراک در انتهای ایمیل‌های اطلاع‌رسانی آنها را غیرفعال کنید.
            لازم به ذکر است پلتفرم پلاسما برای سرویس‌دهی در داخل ایران طراحی شده است و به‌منظور استفاده از آن می‌بایست
            کاربران از ارائه‌دهندگان مجاز اینترنت مستقر در ایران جهت اتصال به پلاسما استفاده نمایند.</p>
        <p>به بیان دیگر با توجه به موارد فنی و حقوقی کاربران نمی‌توانند با استفاده از vpn، فیلترشکن و یا هر روش دیگری از
            خارج کشور اقدام به استفاده از پلاسما نمایند.</p>
        <p>درصورتیکه هر گونه سوال و یا ابهامی وجود داشت، میتوانید با ایمیل ما به نشانی info@plasmain.ir در ارتباط باشید.
        </p>
    </div>
</section>


{% endblock content %}